/*----------- Color Pallete -----------*/
body {
	font-family: 'ProximaNova-Regular';
}
/*-- Green --*/
.text-primary {
	color: #84c225;
}

/*-- Gray --*/
.text-dark {
	color: #444;
}

.text-meduim {
	color: #666;
}

.text-light {
	color: #979797;
}

/*-- Red --*/
.text-danger {
	color: #da251d;
}

/*-- Orange --*/
.text-warning {
	color: #f2aa00;
}
.txt-bold {
	font-family: 'ProximaNova-Semibold';
}
.text-left {
	text-align: left;
}

.text-blue {
	color: #458ef5;
}
.text-center {
	text-align: center;
}
.text-small {
	font-size: 12px;
}
.text-medium {
	font-size: 14px;
}
.text-large {
	font-size: 16px;
}
/*----------- Color Pallete -----------*/
.mar-top-15 {
  margin-top:15px;
}
.mar-top-5 {
  margin-top:5px;
}
.container {

	background: #f7f7f7;
}
.header {
	max-width: 1200px;
	margin:0 auto;
	padding:12px;
	font-size: 14px;
	display: grid;
	grid-template-columns: 60% 10% 10% 10% 10%;
	align-items: center;
}
.header .ty-icon {
	display: block;
}
.footer {
	color: #4a4a4a;
	font-size: 14px;
	border-top: 1px solid #dfdfdf;
	height: 148px;
}

body {
	margin:0;
}
.pos-relative {
  position: relative;
}

/*----------- Success Animated Icon -----------*/
@-webkit-keyframes scaleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #84c225;
}

#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #84c225;
}

#successAnimationResult {
  fill: #84c225;
  opacity: 0;
}

#successAnimation.animated {
  -webkit-animation: 1s ease-out 0s 1 both scaleAnimation;
          animation: 1s ease-out 0s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle {
  -webkit-animation: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
          animation: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationCheck {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
          animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationResult {
  -webkit-animation: 2s linear 0.9s both fadeIn;
          animation: 2s linear 0.9s both fadeIn;
}
/*----------- Success Animated Icon -----------*/
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.fl-rt {
	float: right;
}
.content {
	background: #fff;
	width: 660px;
	margin: 0 auto;
	text-align: center;
  padding: 15px 0;
}
.content textarea {
	width: 430px;
  padding: 5px;
  height: 91px;;
}
.feedback-form {
	width: 450px;
	margin: 0 auto;
}
.star {
	margin:0 3px;
}

.pannel {
	background: #f7f7f7;
	padding: 15px 20px;
}

.btn-primary {
  color: #fff;
  background-color: #84c225;
  border-color: #84c225;
}

.btn-primary:hover {
  background-color: #7fb52d;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 7px 19px 6px 19px;
  font-family: 'ProximaNova-Regular';
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-default {
	border: 1px solid #dedede;
	background: #fff;
	color: #666;
}

.btn-ripple-submit {
	margin: 5px auto;
	width: 100%;
}
.btn-lg {
  padding: 15px 57px 14px 57px !important;
  font-family: 'ProximaNova-Semibold';
  font-size: 16px;
}

.form-control {
	border: 1px solid #979797;
	border-radius: 3px;
	font-size: 16px;
	font-family: 'ProximaNova-Regular';
}
:focus{
	outline:none !important;
}

.btn-ripple { margin: 5px; }
.btn-secondary {
	background: #666;
	border:1px solid #666;
	color:#fff;
}
.rating-txt {
	vertical-align: super;
	margin-right: 10px;
}
.grid-container1 {
  display: grid;
  grid-template-columns: auto;
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
	align-items: center;
}
.grid-container3 {
  display: grid;
  grid-template-columns: 215px 215px 215px;
  padding: 10px;
}
.grid-container4 {
  display: grid;
  grid-template-columns: 180px 80px auto 100px;
  padding: 10px;
}
.grid-item {
  padding: 5px;
}
.pannel-item {
	background: #fff;
	border: solid 1px #eeeeee;
}
.deliveryinfo {
	font-size:  14px;
	margin-bottom: 15px;
}
.deliveryinfo .title {
	color: #979797;
	border-right: 1px solid #eee;
	text-align: left;
	font-family: 'ProximaNova-Semibold';
}
.deliveryinfo .address {
	color: #444;
	text-align: left;
	font-size: 13px;
}
.shipmentinfo {
  align-items: center;
  cursor: pointer;
}
.shipmentinfo .ty-icon,
.deliveryinfo .ty-icon {
	margin-right: 10px;
}
.shipmentinfo .shipment {
	font-size: 12px;
	text-align: left;
	color: #666;
}
.shipmentinfo .items {
	font-size: 13px;
	color: #444;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.shipmentinfo .slot {
	font-size: 13px;
	color: #666;
}
.shipmentinfo .price {
	font-size: 14px;
	color: #444;
}
.orderinfo {
	align-items: end;
  padding:0;
  min-height: 56px;
}
.orderinfo div div {
	margin: 5px 0;
}
.orderinfo .voucherinfo {
	font-size: 12px;
	color:#444;
	padding:0;
	text-align: left;
}
.orderinfo .paymentinfo {
	text-align: right;
	font-size: 12px;
	padding:0;
  color:#444;
  align-items: right;
}
.orderinfo .paymentinfo .ty-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 3px 6px;
  cursor: pointer;
}
.orderinfo .paymentinfo table {
	float: right;
}
.card {
	width: 193px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin: 10px auto;
}
.hide {
  display: none;
}
    .card p {
	font-size: 12px;
	margin: 5px;
}
.assistance .ty-icon:before {
	vertical-align: bottom;
  margin-right: 10px;
	font-size: 9px;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }


 .timeline-item {
  background: #fff;
  border: 1px solid #eee;
  padding: 12px;
  margin: 0 auto;
}
@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 40px;
  position: relative;
}
.background-masker {
  background: #fff;
  position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
  top: 0;
  left: 40px;
  right: 0;
  height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
  top: 10px;
  left: 40px;
  height: 8px;
  width: 10px;
}

.background-masker.header-bottom {
  top: 18px;
  height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
  top: 24px;
  height: 6px;
}


.background-masker.header-right,
.background-masker.subheader-right {
  width: auto;
  left: 130px;
  right: 315;
}

.background-masker.subheader-right {
  left: 130px;
}

.background-masker.subheader-bottom {
  top: 30px;
  height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
  top: 40px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.content-top {
  height:8px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end{
  width: auto;
  left: 200px;
  right: 245;
  top: 10px;
  height: 0;
}

.background-masker.content-second-line  {
  top: 10px;
  height: 8px;
  left: 460px;
}

.background-masker.content-second-end {
  left: 420px;
  top: 74px;
}

.background-masker.content-third-line {
  top: 82px;
}

.background-masker.content-third-end {
  left: 300px;
  top: 88px;
}

@keyframes placeHolderShimmer1{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-background1 {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer1;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 8px;
  margin: 5px 0;
  position: relative;
}
.order-actions .grid-item {
  cursor: pointer;
}

.bg-card {
  height: 70px;
  width: 180px;
}
.order-actions .grid-item {
  cursor: pointer;
}



/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.btn-loader {
  position: absolute;
  top: 0;
  left: 0;
  background: #84c225;
}
.feedback-order-experience {
  padding-bottom: 30px;
  min-height:224px;
}
.tooltip {
  position: absolute;
  background: #fff;
  text-align: justify;
  width: 320px;
  right: -15px;
  bottom: 20px;
  color: #1a1a1a;
  font-size: 14px;
  padding: 15px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 91%;
  box-sizing: border-box;
  border: 5.5px solid #000;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -3px 3px 5px 0 rgba(0,0,0,.1);
  }
  .ty-icon.ty-icon-close {
    position: absolute;
    top: -10px;
    right: -10px;
  }

  
.stars {
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 0;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '★';
  color: #FD4;
  transition: all .25s;
  padding:0 2px;
}

input.star-5:checked ~ .inline label.star:before {
  color: #FE7;
  /* text-shadow: 0 0 20px #952; */
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '☆';
}
.inline {
  display: inline-block;
}